# Default owners for everything in the repo.
*   @MarkPearlCoZa @MarkPearlMYOB @brettcarr @holmesjr @dueckes @jason-dwyer-myob @mattdunn-myob @tommyrpeterson @JohnContad @darrensimsg @danscott-myob

# Order is important. The last matching pattern has the most precedence.
